/* screen - mes-candidatures-maquette-1 */

.mes-candidatures-maquette-1 {
  background-color: var(--user-interface-colorswhite);
  height: 1403px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1366px;
}

.mes-candidatures-maquette-1 .logorandstad-1-rmYrtT {
  background-color: transparent;
  height: 27px;
  left: 101px;
  mix-blend-mode: normal;
  position: absolute;
  top: 39px;
  width: 178px;
}

.mes-candidatures-maquette-1 .frame-1-rmYrtT {
  background-color: transparent;
  height: 19px;
  left: 398px;
  position: absolute;
  top: 53px;
  width: 534px;
}

.mes-candidatures-maquette-1 .candidats-vl9wl6 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.mes-candidatures-maquette-1 .recruteurs-vl9wl6 {
  background-color: transparent;
  height: auto;
  left: 101px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.mes-candidatures-maquette-1 .nos-agences-vl9wl6 {
  background-color: transparent;
  height: auto;
  left: 207px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.mes-candidatures-maquette-1 .covid-19-vl9wl6 {
  background-color: transparent;
  height: auto;
  left: 329px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.mes-candidatures-maquette-1 .je-me-dcouvre-vl9wl6 {
  background-color: transparent;
  height: auto;
  left: 422px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.mes-candidatures-maquette-1 .line-1-rmYrtT {
  background-color: transparent;
  height: 1px;
  left: 100px;
  position: absolute;
  top: 86px;
  width: 1166px;
}

.mes-candidatures-maquette-1 .frame-4-rmYrtT {
  background-color: transparent;
  height: 12px;
  left: 1050px;
  position: absolute;
  top: 11px;
  width: 201px;
}

.mes-candidatures-maquette-1 .frame-2-BkyyO9 {
  background-color: transparent;
  height: 12px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 73px;
}

.mes-candidatures-maquette-1 .eye-5LhfEM {
  background-color: transparent;
  height: 12px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 12px;
}

.mes-candidatures-maquette-1 .accessibilit-5LhfEM {
  background-color: transparent;
  height: auto;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.mes-candidatures-maquette-1 .line-3-BkyyO9 {
  background-color: transparent;
  height: 10px;
  left: 84px;
  position: absolute;
  top: 0px;
  width: 1px;
}

.mes-candidatures-maquette-1 .frame-3-BkyyO9 {
  background-color: transparent;
  height: 12px;
  left: 97px;
  position: absolute;
  top: 0px;
  width: 104px;
}

.mes-candidatures-maquette-1 .group-1-O5gQV1 {
  background-color: transparent;
  height: 9px;
  left: -0px;
  position: absolute;
  top: 1px;
  width: 19px;
}

.mes-candidatures-maquette-1 .groupe-randstad-O5gQV1 {
  background-color: transparent;
  height: auto;
  left: 27px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.mes-candidatures-maquette-1 .frame-53-rmYrtT {
  background-color: var(--brand-colorbrand-secondary);
  height: 358px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 87px;
  width: 1366px;
}

.mes-candidatures-maquette-1 .frame-3-ZhUNMM {
  background-color: transparent;
  height: 29px;
  left: 99px;
  position: absolute;
  top: 60px;
  width: 1168px;
}

.mes-candidatures-maquette-1 .quelques-chiffres-su-KdoxoX {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 1168px;
}

.mes-candidatures-maquette-1 .frame-28-ZhUNMM {
  background-color: transparent;
  height: 149px;
  left: 0px;
  position: absolute;
  top: 149px;
  width: 1366px;
}

.mes-candidatures-maquette-1 .frame-27-pXJhxk {
  background-color: transparent;
  height: 149px;
  left: 263px;
  position: absolute;
  top: 0px;
  width: 164px;
}

.mes-candidatures-maquette-1 .frame-3-2x1YN7 {
  background-color: var(--brand-colorbrand-tertiary);
  border-radius: 44.27px;
  height: 82px;
  left: 42px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 80px;
}

.mes-candidatures-maquette-1 .x10-CQqOuP {
  background-color: transparent;
  height: 38px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 22px;
  width: 38px;
}

.mes-candidatures-maquette-1 .candidatures-envoyes-2x1YN7 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 96px;
  width: auto;
}

.mes-candidatures-maquette-1 .frame-52-2x1YN7 {
  background-color: var(--brand-colorbrand-tertiary);
  border-radius: 4px;
  height: 22px;
  left: 1px;
  mix-blend-mode: normal;
  position: absolute;
  top: 127px;
  width: 162px;
}

.mes-candidatures-maquette-1 .tu-es-sur-une-bonne-lance-mFot1Z {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 4px;
  width: auto;
}

.mes-candidatures-maquette-1 .frame-30-pXJhxk {
  background-color: transparent;
  height: 149px;
  left: 507px;
  position: absolute;
  top: 0px;
  width: 165px;
}

.mes-candidatures-maquette-1 .frame-3-cxqAws {
  background-color: var(--brand-colorbrand-tertiary);
  border-radius: 44.27px;
  height: 82px;
  left: 42px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 80px;
}

.mes-candidatures-maquette-1 .x3-JhT9wh {
  background-color: transparent;
  height: 38px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 22px;
  width: 38px;
}

.mes-candidatures-maquette-1 .candidatures-lues-cxqAws {
  background-color: transparent;
  height: auto;
  left: 19px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 96px;
  width: auto;
}

.mes-candidatures-maquette-1 .frame-52-cxqAws {
  background-color: var(--brand-colorbrand-tertiary);
  border-radius: 4px;
  height: 22px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 127px;
  width: 165px;
}

.mes-candidatures-maquette-1 .on-croise-les-doigts-pour-toi-vtdih9 {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 4px;
  width: auto;
}

.mes-candidatures-maquette-1 .frame-31-pXJhxk {
  background-color: transparent;
  height: 149px;
  left: 752px;
  position: absolute;
  top: 0px;
  width: 158px;
}

.mes-candidatures-maquette-1 .frame-3-I0FjPk {
  background-color: var(--brand-colorbrand-tertiary);
  border-radius: 44.27px;
  height: 82px;
  left: 39px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 80px;
}

.mes-candidatures-maquette-1 .x2-Uz2xtX {
  background-color: transparent;
  height: 38px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 22px;
  width: 38px;
}

.mes-candidatures-maquette-1 .candidatures-refuses-I0FjPk {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 96px;
  width: auto;
}

.mes-candidatures-maquette-1 .frame-52-I0FjPk {
  background-color: var(--brand-colorbrand-tertiary);
  border-radius: 4px;
  height: 22px;
  left: 10px;
  mix-blend-mode: normal;
  position: absolute;
  top: 127px;
  width: 139px;
}

.mes-candidatures-maquette-1 .ne-te-dcourages-pas-uOYbgl {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 4px;
  width: auto;
}

.mes-candidatures-maquette-1 .frame-29-pXJhxk {
  background-color: transparent;
  height: 149px;
  left: 990px;
  position: absolute;
  top: 0px;
  width: 113px;
}

.mes-candidatures-maquette-1 .frame-25-xmU7nQ {
  background-color: transparent;
  height: 149px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 113px;
}

.mes-candidatures-maquette-1 .frame-3-wIyUbW {
  background-color: var(--brand-colorbrand-tertiary);
  border-radius: 44.27px;
  height: 82px;
  left: 16px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 80px;
}

.mes-candidatures-maquette-1 .x0-JD2Wda {
  background-color: transparent;
  height: 38px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 22px;
  width: 38px;
}

.mes-candidatures-maquette-1 .entretiens-raliss-wIyUbW {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 96px;
  width: auto;
}

.mes-candidatures-maquette-1 .frame-52-wIyUbW {
  background-color: var(--brand-colorbrand-tertiary);
  border-radius: 4px;
  height: 22px;
  left: 15px;
  mix-blend-mode: normal;
  position: absolute;
  top: 127px;
  width: 83px;
}

.mes-candidatures-maquette-1 .a-va-venir-RxuLN0 {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 4px;
  width: auto;
}

.mes-candidatures-maquette-1 .frame-3-rmYrtT {
  background-color: transparent;
  height: 29px;
  left: 99px;
  position: absolute;
  top: 486px;
  width: 205px;
}

.mes-candidatures-maquette-1 .tes-candidatures-fftHoc {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.mes-candidatures-maquette-1 .frame-53-OrmyAn {
  background-color: transparent;
  height: 156px;
  left: 100px;
  position: absolute;
  top: 557px;
  width: 173px;
}

.mes-candidatures-maquette-1 .frame-66-bIjmyj {
  background-color: transparent;
  height: 156px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 173px;
}

.mes-candidatures-maquette-1 .frame-54-fIUZga {
  background-color: transparent;
  border-radius: 4px;
  height: 27px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 172px;
}

.mes-candidatures-maquette-1 .candidatures-envoye-1EMg3t {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.mes-candidatures-maquette-1 .frame-55-fIUZga {
  background-color: transparent;
  border-radius: 4px;
  height: 27px;
  left: 0px;
  position: absolute;
  top: 43px;
  width: 135px;
}

.mes-candidatures-maquette-1 .candidatures-lue-xaO9Gu {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.mes-candidatures-maquette-1 .frame-56-fIUZga {
  background-color: transparent;
  border-radius: 4px;
  height: 27px;
  left: 0px;
  position: absolute;
  top: 86px;
  width: 173px;
}

.mes-candidatures-maquette-1 .candidatures-refuses-VCG1d2 {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.mes-candidatures-maquette-1 .frame-57-fIUZga {
  background-color: transparent;
  border-radius: 4px;
  height: 27px;
  left: 0px;
  position: absolute;
  top: 129px;
  width: 145px;
}

.mes-candidatures-maquette-1 .entretiens-raliss-Pe9DGr {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.mes-candidatures-maquette-1 .line-5-rmYrtT {
  background-color: transparent;
  height: 845px;
  left: 474px;
  position: absolute;
  top: 558px;
  width: 3px;
}

.mes-candidatures-maquette-1 .frame-65-rmYrtT {
  background-color: transparent;
  height: 832px;
  left: 478px;
  position: absolute;
  top: 558px;
  width: 791px;
}

.mes-candidatures-maquette-1 .frame-63-b9wIpl {
  background-color: transparent;
  height: 541px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 791px;
}

.mes-candidatures-maquette-1 .frame-4-HmJbNT {
  background-color: transparent;
  height: 35px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 122px;
}

.mes-candidatures-maquette-1 .frame-59-HmJbNT {
  background-color: transparent;
  height: 486px;
  left: 0px;
  position: absolute;
  top: 55px;
  width: 791px;
}

.mes-candidatures-maquette-1 .frame-54-CS1psr {
  background-color: var(--hint-of-red);
  border-radius: 4px;
  height: 111px;
  left: 20px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 771px;
}

.mes-candidatures-maquette-1 .frame-3-jgvlcZ {
  background-color: transparent;
  height: 22px;
  left: 12px;
  position: absolute;
  top: 12px;
  width: 747px;
}

.mes-candidatures-maquette-1 .comptable-3bF4Sm {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.mes-candidatures-maquette-1 .frame-5-3bF4Sm {
  background-color: var(--eucalyptus);
  border-radius: 4px;
  height: 22px;
  left: 712px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 35px;
}

.mes-candidatures-maquette-1 .lue-xWIJ4s {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.mes-candidatures-maquette-1 .frame-3-vqWb93 {
  background-color: transparent;
  height: 17px;
  left: 12px;
  position: absolute;
  top: 42px;
  width: 747px;
}

.mes-candidatures-maquette-1 .nom-de-lentreprise-x8QIJ8 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 747px;
}

.mes-candidatures-maquette-1 .frame-58-jgvlcZ {
  background-color: transparent;
  cursor: pointer;
  height: 32px;
  left: 12px;
  position: absolute;
  top: 67px;
  width: 747px;
}

.mes-candidatures-maquette-1 .frame-3-3Mfa2U {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 269px;
}

.mes-candidatures-maquette-1 .frame-3-GVI06G {
  background-color: var(--user-interface-colorswhite);
  border-radius: 4px;
  height: 22px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 82px;
}

.mes-candidatures-maquette-1 .cdd-6-mois-8CuNPq {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.mes-candidatures-maquette-1 .frame-3-nSY8aP {
  background-color: var(--user-interface-colorswhite);
  border-radius: 4px;
  height: 22px;
  left: 94px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 82px;
}

.mes-candidatures-maquette-1 .nantes-44-BDHuc9 {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.mes-candidatures-maquette-1 .frame-3-m3JgrF {
  background-color: var(--user-interface-colorswhite);
  border-radius: 4px;
  height: 22px;
  left: 187px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 82px;
}

.mes-candidatures-maquette-1 .il-y-a-2-jours-zdIXKt {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.mes-candidatures-maquette-1 .frame-3-o3HCGS {
  background-color: var(--brand-colorbrand-secondary);
  border-radius: 20px;
  height: 32px;
  left: 622px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 125px;
}

.mes-candidatures-maquette-1 .voir-le-dtail-dvCQit {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 8px;
  width: auto;
}

.mes-candidatures-maquette-1 .frame-8-CS1psr {
  background-color: var(--hint-of-red);
  border-radius: 4px;
  height: 111px;
  left: 20px;
  mix-blend-mode: normal;
  position: absolute;
  top: 125px;
  width: 771px;
}

.mes-candidatures-maquette-1 .frame-3-tY4scr {
  background-color: transparent;
  height: 22px;
  left: 12px;
  position: absolute;
  top: 12px;
  width: 747px;
}

.mes-candidatures-maquette-1 .comptable-cPxcu5 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.mes-candidatures-maquette-1 .frame-5-cPxcu5 {
  background-color: var(--navy-blue-2);
  border-radius: 4px;
  height: 22px;
  left: 686px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 61px;
}

.mes-candidatures-maquette-1 .envoye-xbRQ9x {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.mes-candidatures-maquette-1 .frame-3-IJcGVP {
  background-color: transparent;
  height: 17px;
  left: 12px;
  position: absolute;
  top: 42px;
  width: 747px;
}

.mes-candidatures-maquette-1 .nom-de-lentreprise-nRDTx3 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 747px;
}

.mes-candidatures-maquette-1 .frame-58-tY4scr {
  background-color: transparent;
  height: 32px;
  left: 12px;
  position: absolute;
  top: 67px;
  width: 747px;
}

.mes-candidatures-maquette-1 .frame-3-RTIKVz {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 269px;
}

.mes-candidatures-maquette-1 .frame-3-iNG1v3 {
  background-color: var(--user-interface-colorswhite);
  border-radius: 4px;
  height: 22px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 82px;
}

.mes-candidatures-maquette-1 .cdd-6-mois-Z94yih {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.mes-candidatures-maquette-1 .frame-3-C6SDjH {
  background-color: var(--user-interface-colorswhite);
  border-radius: 4px;
  height: 22px;
  left: 94px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 82px;
}

.mes-candidatures-maquette-1 .nantes-44-wppmSb {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.mes-candidatures-maquette-1 .frame-3-5DRXZA {
  background-color: var(--user-interface-colorswhite);
  border-radius: 4px;
  height: 22px;
  left: 187px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 82px;
}

.mes-candidatures-maquette-1 .il-y-a-2-jours-5NJiZY {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.mes-candidatures-maquette-1 .frame-3-fZ2gX6 {
  background-color: var(--brand-colorbrand-secondary);
  border-radius: 20px;
  height: 32px;
  left: 622px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 125px;
}

.mes-candidatures-maquette-1 .voir-le-dtail-xZYl1I {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 8px;
  width: auto;
}

.mes-candidatures-maquette-1 .frame-55-CS1psr {
  background-color: var(--hint-of-red);
  border-radius: 4px;
  height: 111px;
  left: 20px;
  mix-blend-mode: normal;
  position: absolute;
  top: 250px;
  width: 771px;
}

.mes-candidatures-maquette-1 .frame-3-S7D5YN {
  background-color: transparent;
  height: 22px;
  left: 12px;
  position: absolute;
  top: 12px;
  width: 747px;
}

.mes-candidatures-maquette-1 .comptable-7z3K2i {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.mes-candidatures-maquette-1 .frame-5-7z3K2i {
  background-color: var(--cinnabar);
  border-radius: 4px;
  height: 22px;
  left: 689px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 58px;
}

.mes-candidatures-maquette-1 .refuse-a4oGIT {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.mes-candidatures-maquette-1 .frame-3-LlItZf {
  background-color: transparent;
  height: 17px;
  left: 12px;
  position: absolute;
  top: 42px;
  width: 747px;
}

.mes-candidatures-maquette-1 .nom-de-lentreprise-5Q1ehJ {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 747px;
}

.mes-candidatures-maquette-1 .frame-58-S7D5YN {
  background-color: transparent;
  height: 32px;
  left: 12px;
  position: absolute;
  top: 67px;
  width: 747px;
}

.mes-candidatures-maquette-1 .frame-3-iaRDox {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 269px;
}

.mes-candidatures-maquette-1 .frame-3-sZPunP {
  background-color: var(--user-interface-colorswhite);
  border-radius: 4px;
  height: 22px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 82px;
}

.mes-candidatures-maquette-1 .cdd-6-mois-ELxT78 {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.mes-candidatures-maquette-1 .frame-3-LvEHZx {
  background-color: var(--user-interface-colorswhite);
  border-radius: 4px;
  height: 22px;
  left: 94px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 82px;
}

.mes-candidatures-maquette-1 .nantes-44-Jkhdpb {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.mes-candidatures-maquette-1 .frame-3-c1Ql2x {
  background-color: var(--user-interface-colorswhite);
  border-radius: 4px;
  height: 22px;
  left: 187px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 82px;
}

.mes-candidatures-maquette-1 .il-y-a-2-jours-3zdISJ {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.mes-candidatures-maquette-1 .frame-3-KTmFEp {
  background-color: var(--brand-colorbrand-secondary);
  border-radius: 20px;
  height: 32px;
  left: 622px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 125px;
}

.mes-candidatures-maquette-1 .voir-le-dtail-gDclgl {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 8px;
  width: auto;
}

.mes-candidatures-maquette-1 .frame-56-CS1psr {
  background-color: var(--hint-of-red);
  border-radius: 4px;
  height: 111px;
  left: 20px;
  mix-blend-mode: normal;
  position: absolute;
  top: 375px;
  width: 771px;
}

.mes-candidatures-maquette-1 .frame-3-dSePwM {
  background-color: transparent;
  height: 22px;
  left: 12px;
  position: absolute;
  top: 12px;
  width: 747px;
}

.mes-candidatures-maquette-1 .comptable-fkMfgU {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.mes-candidatures-maquette-1 .frame-5-fkMfgU {
  background-color: var(--eucalyptus);
  border-radius: 4px;
  height: 22px;
  left: 712px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 35px;
}

.mes-candidatures-maquette-1 .lue-oGIJHT {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.mes-candidatures-maquette-1 .frame-3-6Hb1ek {
  background-color: transparent;
  height: 17px;
  left: 12px;
  position: absolute;
  top: 42px;
  width: 747px;
}

.mes-candidatures-maquette-1 .nom-de-lentreprise-RJQCxM {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 747px;
}

.mes-candidatures-maquette-1 .frame-58-dSePwM {
  background-color: transparent;
  height: 32px;
  left: 12px;
  position: absolute;
  top: 67px;
  width: 747px;
}

.mes-candidatures-maquette-1 .frame-3-GEX12F {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 269px;
}

.mes-candidatures-maquette-1 .frame-3-AAry5b {
  background-color: var(--user-interface-colorswhite);
  border-radius: 4px;
  height: 22px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 82px;
}

.mes-candidatures-maquette-1 .cdd-6-mois-x3GaM4 {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.mes-candidatures-maquette-1 .frame-3-x69YEK {
  background-color: var(--user-interface-colorswhite);
  border-radius: 4px;
  height: 22px;
  left: 94px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 82px;
}

.mes-candidatures-maquette-1 .nantes-44-fClDlE {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.mes-candidatures-maquette-1 .frame-3-igbZ6F {
  background-color: var(--user-interface-colorswhite);
  border-radius: 4px;
  height: 22px;
  left: 187px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 82px;
}

.mes-candidatures-maquette-1 .il-y-a-2-jours-mcuAxr {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.mes-candidatures-maquette-1 .frame-3-h1U7Cw {
  background-color: var(--brand-colorbrand-secondary);
  border-radius: 20px;
  height: 32px;
  left: 622px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 125px;
}

.mes-candidatures-maquette-1 .voir-le-dtail-7Qbjij {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 8px;
  width: auto;
}

.mes-candidatures-maquette-1 .frame-64-b9wIpl {
  background-color: transparent;
  height: 176px;
  left: 0px;
  position: absolute;
  top: 581px;
  width: 791px;
}

.mes-candidatures-maquette-1 .frame-60-oKm9FF {
  background-color: transparent;
  height: 35px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 130px;
}

.mes-candidatures-maquette-1 .frame-61-oKm9FF {
  background-color: transparent;
  height: 111px;
  left: 0px;
  position: absolute;
  top: 65px;
  width: 791px;
}

.mes-candidatures-maquette-1 .frame-8-IKGVZH {
  background-color: var(--hint-of-red);
  border-radius: 4px;
  height: 111px;
  left: 20px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 771px;
}

.mes-candidatures-maquette-1 .frame-3-qb0QDi {
  background-color: transparent;
  height: 22px;
  left: 12px;
  position: absolute;
  top: 12px;
  width: 747px;
}

.mes-candidatures-maquette-1 .comptable-xEkxwK {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.mes-candidatures-maquette-1 .frame-5-xEkxwK {
  background-color: var(--cinnabar);
  border-radius: 4px;
  height: 22px;
  left: 689px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 58px;
}

.mes-candidatures-maquette-1 .refuse-fupZRb {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.mes-candidatures-maquette-1 .frame-3-RKYUNx {
  background-color: transparent;
  height: 17px;
  left: 12px;
  position: absolute;
  top: 42px;
  width: 747px;
}

.mes-candidatures-maquette-1 .nom-de-lentreprise-fQ1Bnd {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 747px;
}

.mes-candidatures-maquette-1 .frame-58-qb0QDi {
  background-color: transparent;
  height: 32px;
  left: 12px;
  position: absolute;
  top: 67px;
  width: 747px;
}

.mes-candidatures-maquette-1 .frame-3-2IxlGh {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 269px;
}

.mes-candidatures-maquette-1 .frame-3-rjlmzp {
  background-color: var(--user-interface-colorswhite);
  border-radius: 4px;
  height: 22px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 82px;
}

.mes-candidatures-maquette-1 .cdd-6-mois-Dh4vTQ {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.mes-candidatures-maquette-1 .frame-3-N3dpF9 {
  background-color: var(--user-interface-colorswhite);
  border-radius: 4px;
  height: 22px;
  left: 94px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 82px;
}

.mes-candidatures-maquette-1 .nantes-44-lDEVo2 {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.mes-candidatures-maquette-1 .frame-3-c05Iuu {
  background-color: var(--user-interface-colorswhite);
  border-radius: 4px;
  height: 22px;
  left: 187px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 82px;
}

.mes-candidatures-maquette-1 .il-y-a-2-jours-vTx1Jl {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.mes-candidatures-maquette-1 .frame-3-B02pZq {
  background-color: var(--brand-colorbrand-secondary);
  border-radius: 20px;
  height: 32px;
  left: 622px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 125px;
}

.mes-candidatures-maquette-1 .voir-le-dtail-FGnylo {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 8px;
  width: auto;
}

.mes-candidatures-maquette-1 .frame-62-b9wIpl {
  background-color: transparent;
  height: 35px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 797px;
  width: 146px;
}

.mes-candidatures-maquette-1 .rectangle-14-rmYrtT {
  background-color: transparent;
  height: 163px;
  left: 69px;
  mix-blend-mode: normal;
  position: absolute;
  top: 283px;
  width: 51px;
}

.mes-candidatures-maquette-1 .rectangle-15-rmYrtT {
  background-color: transparent;
  height: 134px;
  left: 120px;
  mix-blend-mode: normal;
  position: absolute;
  top: 311px;
  width: 51px;
}

.mes-candidatures-maquette-1 .rectangle-16-rmYrtT {
  background-color: transparent;
  height: 106px;
  left: 171px;
  mix-blend-mode: normal;
  position: absolute;
  top: 340px;
  width: 51px;
}

.mes-candidatures-maquette-1 .ellipse-9-rmYrtT {
  background-color: transparent;
  height: 51px;
  left: 69px;
  mix-blend-mode: normal;
  position: absolute;
  top: 227px;
  width: 51px;
}

.mes-candidatures-maquette-1 .group-68-rmYrtT {
  background-color: transparent;
  height: 480px;
  left: 100px;
  position: absolute;
  top: 738px;
  width: 332px;
}

.mes-candidatures-maquette-1 .rectangle-38-aJNr9u {
  background-color: var(--user-interface-colorsbrand-primary-tint-7);
  border-radius: 8px;
  height: 480px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 328px;
}

.mes-candidatures-maquette-1 .envie-de-dcouvrir-un-nouveau-secteur-aJNr9u {
  background-color: transparent;
  height: auto;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 311px;
  width: 262px;
}

.mes-candidatures-maquette-1 .ton-parcours-profess-aJNr9u {
  background-color: transparent;
  height: auto;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 377px;
  width: 262px;
}

.mes-candidatures-maquette-1 .frame-66-aJNr9u {
  background-color: transparent;
  height: 32px;
  left: 15px;
  position: absolute;
  top: 428px;
  width: 131px;
}

.mes-candidatures-maquette-1 .frame-4-7EidUd {
  background-color: var(--brand-colorbrand-secondary);
  border-radius: 20px;
  height: 32px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 131px;
}

.mes-candidatures-maquette-1 .je-me-lance-kLtCs4 {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 8px;
  width: auto;
}

.mes-candidatures-maquette-1 .mask-group-rmYrtT {
  background-color: transparent;
  height: 415px;
  left: 100px;
  position: absolute;
  top: 738px;
  width: 328px;
}

.mes-candidatures-maquette-1 .frame-5-rmYrtT {
  background-color: transparent;
  height: 30px;
  left: 1125px;
  position: absolute;
  top: 46px;
  width: 141px;
}

.mes-candidatures-maquette-1 .mon-espace-egE7f0 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 6px;
  width: auto;
}

.mes-candidatures-maquette-1 .frame-1-egE7f0 {
  background-color: transparent;
  border-radius: 50px;
  height: 30px;
  left: 111px;
  position: absolute;
  top: 0px;
  width: 30px;
}

.mes-candidatures-maquette-1 .ja-luyUyO {
  background-color: transparent;
  height: 14px;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 8px;
  width: auto;
}
