/* screen - pop-up-candidature-elements-envoyes-maquette */

.pop-up-candidature-elements-envoyes-maquette {
  background-color: var(--user-interface-colorswhite);
  height: 738px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1366px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-5-7mKfwG {
  background-color: transparent;
  height: 30px;
  left: 1125px;
  position: absolute;
  top: 46px;
  width: 141px;
}

.pop-up-candidature-elements-envoyes-maquette .mon-espace-02rmur {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 6px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .frame-1-02rmur {
  background-color: transparent;
  border-radius: 50px;
  height: 30px;
  left: 111px;
  position: absolute;
  top: 0px;
  width: 30px;
}

.pop-up-candidature-elements-envoyes-maquette .ja-3E7xH3 {
  background-color: transparent;
  height: 14px;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 8px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .logorandstad-1-7mKfwG {
  background-color: transparent;
  height: 27px;
  left: 101px;
  mix-blend-mode: normal;
  position: absolute;
  top: 39px;
  width: 178px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-1-7mKfwG {
  background-color: transparent;
  height: 19px;
  left: 398px;
  position: absolute;
  top: 53px;
  width: 388px;
}

.pop-up-candidature-elements-envoyes-maquette .candidats-CGwHNW {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .recruteurs-CGwHNW {
  background-color: transparent;
  height: auto;
  left: 101px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .nos-agences-CGwHNW {
  background-color: transparent;
  height: auto;
  left: 207px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .covid-19-CGwHNW {
  background-color: transparent;
  height: auto;
  left: 329px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .line-1-7mKfwG {
  background-color: transparent;
  height: 1px;
  left: 100px;
  position: absolute;
  top: 86px;
  width: 1166px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-4-7mKfwG {
  background-color: transparent;
  height: 12px;
  left: 1050px;
  position: absolute;
  top: 11px;
  width: 201px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-2-KCkElq {
  background-color: transparent;
  height: 12px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 73px;
}

.pop-up-candidature-elements-envoyes-maquette .eye-HX5zaK {
  background-color: transparent;
  height: 12px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 12px;
}

.pop-up-candidature-elements-envoyes-maquette .accessibilit-HX5zaK {
  background-color: transparent;
  height: auto;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .line-3-KCkElq {
  background-color: transparent;
  height: 10px;
  left: 84px;
  position: absolute;
  top: 0px;
  width: 1px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-3-KCkElq {
  background-color: transparent;
  height: 12px;
  left: 97px;
  position: absolute;
  top: 0px;
  width: 104px;
}

.pop-up-candidature-elements-envoyes-maquette .group-1-l00gAC {
  background-color: transparent;
  height: 9px;
  left: -0px;
  position: absolute;
  top: 1px;
  width: 19px;
}

.pop-up-candidature-elements-envoyes-maquette .groupe-randstad-l00gAC {
  background-color: transparent;
  height: auto;
  left: 27px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .group-72-7mKfwG {
  background-color: transparent;
  height: 1316px;
  left: 0px;
  position: absolute;
  top: 87px;
  width: 1366px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-53-j1ohBR {
  background-color: var(--brand-colorbrand-secondary);
  height: 358px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1366px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-3-9lYBcy {
  background-color: transparent;
  height: 29px;
  left: 99px;
  position: absolute;
  top: 60px;
  width: 1168px;
}

.pop-up-candidature-elements-envoyes-maquette .quelques-chiffres-de-rEgOFx {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .frame-28-9lYBcy {
  background-color: transparent;
  height: 149px;
  left: 0px;
  position: absolute;
  top: 149px;
  width: 1366px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-27-GZhNWx {
  background-color: transparent;
  height: 149px;
  left: 274px;
  position: absolute;
  top: 0px;
  width: 162px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-3-QzyuwK {
  background-color: var(--brand-colorbrand-tertiary);
  border-radius: 44.27px;
  height: 82px;
  left: 41px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 80px;
}

.pop-up-candidature-elements-envoyes-maquette .x10-YcGI5X {
  background-color: transparent;
  height: 38px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 22px;
  width: 38px;
}

.pop-up-candidature-elements-envoyes-maquette .candidatures-envoyes-QzyuwK {
  background-color: transparent;
  height: auto;
  left: 10px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 96px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .frame-52-QzyuwK {
  background-color: var(--brand-colorbrand-tertiary);
  border-radius: 4px;
  height: 22px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 127px;
  width: 162px;
}

.pop-up-candidature-elements-envoyes-maquette .tu-es-sur-une-bonne-lance-J0AsV9 {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 4px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .frame-30-GZhNWx {
  background-color: transparent;
  height: 149px;
  left: 516px;
  position: absolute;
  top: 0px;
  width: 165px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-3-XygTbX {
  background-color: var(--brand-colorbrand-tertiary);
  border-radius: 44.27px;
  height: 82px;
  left: 42px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 80px;
}

.pop-up-candidature-elements-envoyes-maquette .x3-AxA7Dl {
  background-color: transparent;
  height: 38px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 22px;
  width: 38px;
}

.pop-up-candidature-elements-envoyes-maquette .candidatures-lues-XygTbX {
  background-color: transparent;
  height: auto;
  left: 28px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 96px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .frame-52-XygTbX {
  background-color: var(--brand-colorbrand-tertiary);
  border-radius: 4px;
  height: 22px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 127px;
  width: 165px;
}

.pop-up-candidature-elements-envoyes-maquette .on-croise-les-doigts-pour-toi-qu5Lxu {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 4px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .frame-31-GZhNWx {
  background-color: transparent;
  height: 149px;
  left: 760px;
  position: absolute;
  top: 0px;
  width: 139px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-3-lhxTsy {
  background-color: var(--brand-colorbrand-tertiary);
  border-radius: 44.27px;
  height: 82px;
  left: 29px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 80px;
}

.pop-up-candidature-elements-envoyes-maquette .x2-gMtqdx {
  background-color: transparent;
  height: 38px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 22px;
  width: 38px;
}

.pop-up-candidature-elements-envoyes-maquette .candidatures-refuses-lhxTsy {
  background-color: transparent;
  height: auto;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 96px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .frame-52-lhxTsy {
  background-color: var(--brand-colorbrand-tertiary);
  border-radius: 4px;
  height: 22px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 127px;
  width: 139px;
}

.pop-up-candidature-elements-envoyes-maquette .ne-te-dcourages-pas-J7Ev6O {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 4px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .frame-29-GZhNWx {
  background-color: transparent;
  height: 149px;
  left: 980px;
  position: absolute;
  top: 0px;
  width: 113px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-25-YWON9V {
  background-color: transparent;
  height: 149px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 113px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-3-D5eYPR {
  background-color: var(--brand-colorbrand-tertiary);
  border-radius: 44.27px;
  height: 82px;
  left: 16px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 80px;
}

.pop-up-candidature-elements-envoyes-maquette .x0-Oi5C9B {
  background-color: transparent;
  height: 38px;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 22px;
  width: 38px;
}

.pop-up-candidature-elements-envoyes-maquette .entretiens-raliss-D5eYPR {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 96px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .frame-52-D5eYPR {
  background-color: var(--brand-colorbrand-tertiary);
  border-radius: 4px;
  height: 22px;
  left: 15px;
  mix-blend-mode: normal;
  position: absolute;
  top: 127px;
  width: 83px;
}

.pop-up-candidature-elements-envoyes-maquette .a-va-venir-xOk6sw {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 4px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .group-71-j1ohBR {
  background-color: transparent;
  height: 1176px;
  left: 99px;
  position: absolute;
  top: 140px;
  width: 1255px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-3-VGhnoG {
  background-color: transparent;
  height: 29px;
  left: 0px;
  position: absolute;
  top: 259px;
  width: 205px;
}

.pop-up-candidature-elements-envoyes-maquette .tes-candidatures-67gGRV {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .frame-53-VGhnoG {
  background-color: transparent;
  height: 156px;
  left: 1px;
  position: absolute;
  top: 330px;
  width: 173px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-66-APjacu {
  background-color: transparent;
  height: 156px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 173px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-54-4d0Mxs {
  background-color: transparent;
  border-radius: 4px;
  height: 27px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 172px;
}

.pop-up-candidature-elements-envoyes-maquette .candidatures-envoye-KR2NMC {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .frame-55-4d0Mxs {
  background-color: transparent;
  border-radius: 4px;
  height: 27px;
  left: 0px;
  position: absolute;
  top: 43px;
  width: 135px;
}

.pop-up-candidature-elements-envoyes-maquette .candidatures-lue-m2enUA {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .frame-56-4d0Mxs {
  background-color: transparent;
  border-radius: 4px;
  height: 27px;
  left: 0px;
  position: absolute;
  top: 86px;
  width: 173px;
}

.pop-up-candidature-elements-envoyes-maquette .candidatures-refuses-dDpEbx {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .frame-57-4d0Mxs {
  background-color: transparent;
  border-radius: 4px;
  height: 27px;
  left: 0px;
  position: absolute;
  top: 129px;
  width: 145px;
}

.pop-up-candidature-elements-envoyes-maquette .entretiens-raliss-Xxajuj {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .line-5-VGhnoG {
  background-color: transparent;
  height: 180px;
  left: 375px;
  position: absolute;
  top: 664px;
  width: 3px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-65-VGhnoG {
  background-color: transparent;
  height: 804px;
  left: 379px;
  position: absolute;
  top: 331px;
  width: 791px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-63-FV6x5M {
  background-color: transparent;
  height: 520px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 791px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-4-x53wLw {
  background-color: transparent;
  height: 35px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 122px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-59-x53wLw {
  background-color: transparent;
  height: 465px;
  left: 0px;
  position: absolute;
  top: 55px;
  width: 791px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-8-hI3Wic {
  background-color: var(--brand-colorbrand-tertiary);
  border-radius: 4px;
  height: 111px;
  left: 20px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 771px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-3-Dn91I8 {
  background-color: transparent;
  height: 22px;
  left: 12px;
  position: absolute;
  top: 12px;
  width: 747px;
}

.pop-up-candidature-elements-envoyes-maquette .comptable-rOWgmf {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .frame-4-rOWgmf {
  background-color: var(--navy-blue);
  border-radius: 4px;
  height: 22px;
  left: 686px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 61px;
}

.pop-up-candidature-elements-envoyes-maquette .envoye-ucoIl2 {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .frame-3-XwA75j {
  background-color: transparent;
  height: 17px;
  left: 12px;
  position: absolute;
  top: 42px;
  width: 747px;
}

.pop-up-candidature-elements-envoyes-maquette .nom-de-lentreprise-lPZmgQ {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 747px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-58-Dn91I8 {
  background-color: transparent;
  height: 32px;
  left: 12px;
  position: absolute;
  top: 67px;
  width: 747px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-3-JHbDAs {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 269px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-3-LVoDEK {
  background-color: var(--user-interface-colorswhite);
  border-radius: 4px;
  height: 22px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 82px;
}

.pop-up-candidature-elements-envoyes-maquette .cdd-6-mois-uTeZPF {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .frame-3-uYOPfx {
  background-color: var(--user-interface-colorswhite);
  border-radius: 4px;
  height: 22px;
  left: 94px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 82px;
}

.pop-up-candidature-elements-envoyes-maquette .nantes-44-frYPA6 {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .frame-3-qgeyHo {
  background-color: var(--user-interface-colorswhite);
  border-radius: 4px;
  height: 22px;
  left: 187px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 82px;
}

.pop-up-candidature-elements-envoyes-maquette .il-y-a-2-jours-tuDRmW {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .frame-3-QDJG5j {
  background-color: var(--brand-colorbrand-secondary);
  border-radius: 20px;
  height: 32px;
  left: 622px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 125px;
}

.pop-up-candidature-elements-envoyes-maquette .voir-le-dtail-zPBxTO {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 8px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .frame-54-hI3Wic {
  background-color: var(--brand-colorbrand-tertiary);
  border-radius: 4px;
  height: 104px;
  left: 20px;
  mix-blend-mode: normal;
  position: absolute;
  top: 125px;
  width: 771px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-3-W9Lsxe {
  background-color: transparent;
  height: 22px;
  left: 12px;
  position: absolute;
  top: 12px;
  width: 747px;
}

.pop-up-candidature-elements-envoyes-maquette .comptable-cyIrQu {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .frame-4-cyIrQu {
  background-color: var(--navy-blue);
  border-radius: 4px;
  height: 22px;
  left: 686px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 61px;
}

.pop-up-candidature-elements-envoyes-maquette .envoye-umK4CJ {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .frame-3-rSiUzg {
  background-color: transparent;
  height: 17px;
  left: 12px;
  position: absolute;
  top: 42px;
  width: 747px;
}

.pop-up-candidature-elements-envoyes-maquette .nom-de-lentreprise-Bjnbp1 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 747px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-58-W9Lsxe {
  background-color: transparent;
  height: 25px;
  left: 12px;
  position: absolute;
  top: 67px;
  width: 747px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-3-ns1cpw {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 269px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-3-U6RdqY {
  background-color: var(--user-interface-colorswhite);
  border-radius: 4px;
  height: 22px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 82px;
}

.pop-up-candidature-elements-envoyes-maquette .cdd-6-mois-RsyPAQ {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .frame-3-MvLDnN {
  background-color: var(--user-interface-colorswhite);
  border-radius: 4px;
  height: 22px;
  left: 94px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 82px;
}

.pop-up-candidature-elements-envoyes-maquette .nantes-44-PJa2pe {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .frame-3-0pw6BT {
  background-color: var(--user-interface-colorswhite);
  border-radius: 4px;
  height: 22px;
  left: 187px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 82px;
}

.pop-up-candidature-elements-envoyes-maquette .il-y-a-2-jours-g4Fxa7 {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .frame-3-zTM1nt {
  background-color: var(--sun);
  border-radius: 20px;
  height: 25px;
  left: 622px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 125px;
}

.pop-up-candidature-elements-envoyes-maquette .voir-le-dtail-V5d0x5 {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .frame-55-hI3Wic {
  background-color: var(--brand-colorbrand-tertiary);
  border-radius: 4px;
  height: 104px;
  left: 20px;
  mix-blend-mode: normal;
  position: absolute;
  top: 243px;
  width: 771px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-3-15ajjg {
  background-color: transparent;
  height: 22px;
  left: 12px;
  position: absolute;
  top: 12px;
  width: 747px;
}

.pop-up-candidature-elements-envoyes-maquette .comptable-Gzkdwp {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .frame-4-Gzkdwp {
  background-color: var(--navy-blue);
  border-radius: 4px;
  height: 22px;
  left: 686px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 61px;
}

.pop-up-candidature-elements-envoyes-maquette .envoye-NWDj4x {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .frame-3-Tx3VG3 {
  background-color: transparent;
  height: 17px;
  left: 12px;
  position: absolute;
  top: 42px;
  width: 747px;
}

.pop-up-candidature-elements-envoyes-maquette .nom-de-lentreprise-681Fk6 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 747px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-58-15ajjg {
  background-color: transparent;
  height: 25px;
  left: 12px;
  position: absolute;
  top: 67px;
  width: 747px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-3-iTVxEx {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 269px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-3-LZMXKZ {
  background-color: var(--user-interface-colorswhite);
  border-radius: 4px;
  height: 22px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 82px;
}

.pop-up-candidature-elements-envoyes-maquette .cdd-6-mois-v2mPBx {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .frame-3-aBKQSN {
  background-color: var(--user-interface-colorswhite);
  border-radius: 4px;
  height: 22px;
  left: 94px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 82px;
}

.pop-up-candidature-elements-envoyes-maquette .nantes-44-Tj0AGp {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .frame-3-ImImnd {
  background-color: var(--user-interface-colorswhite);
  border-radius: 4px;
  height: 22px;
  left: 187px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 82px;
}

.pop-up-candidature-elements-envoyes-maquette .il-y-a-2-jours-EWSbwn {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .frame-3-7poW0k {
  background-color: var(--sun);
  border-radius: 20px;
  height: 25px;
  left: 622px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 125px;
}

.pop-up-candidature-elements-envoyes-maquette .voir-le-dtail-khQXGi {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .frame-56-hI3Wic {
  background-color: var(--brand-colorbrand-tertiary);
  border-radius: 4px;
  height: 104px;
  left: 20px;
  mix-blend-mode: normal;
  position: absolute;
  top: 361px;
  width: 771px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-3-IFxKaG {
  background-color: transparent;
  height: 22px;
  left: 12px;
  position: absolute;
  top: 12px;
  width: 747px;
}

.pop-up-candidature-elements-envoyes-maquette .comptable-zCKBZI {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .frame-4-zCKBZI {
  background-color: var(--navy-blue);
  border-radius: 4px;
  height: 22px;
  left: 686px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 61px;
}

.pop-up-candidature-elements-envoyes-maquette .envoye-nSG5Fx {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .frame-3-ZX3aXJ {
  background-color: transparent;
  height: 17px;
  left: 12px;
  position: absolute;
  top: 42px;
  width: 747px;
}

.pop-up-candidature-elements-envoyes-maquette .nom-de-lentreprise-JNsPY1 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 747px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-58-IFxKaG {
  background-color: transparent;
  height: 25px;
  left: 12px;
  position: absolute;
  top: 67px;
  width: 747px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-3-oLerWN {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 269px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-3-EAcxGa {
  background-color: var(--user-interface-colorswhite);
  border-radius: 4px;
  height: 22px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 82px;
}

.pop-up-candidature-elements-envoyes-maquette .cdd-6-mois-WWD0kJ {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .frame-3-DlMJQf {
  background-color: var(--user-interface-colorswhite);
  border-radius: 4px;
  height: 22px;
  left: 94px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 82px;
}

.pop-up-candidature-elements-envoyes-maquette .nantes-44-7NEJiz {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .frame-3-pV4H1h {
  background-color: var(--user-interface-colorswhite);
  border-radius: 4px;
  height: 22px;
  left: 187px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 82px;
}

.pop-up-candidature-elements-envoyes-maquette .il-y-a-2-jours-9sJAI6 {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .frame-3-S6q3oL {
  background-color: var(--sun);
  border-radius: 20px;
  height: 25px;
  left: 622px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 125px;
}

.pop-up-candidature-elements-envoyes-maquette .voir-le-dtail-YN3r6T {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .frame-64-FV6x5M {
  background-color: transparent;
  height: 169px;
  left: 0px;
  position: absolute;
  top: 560px;
  width: 791px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-60-qwoBFl {
  background-color: transparent;
  height: 1px;
  left: 65px;
  mix-blend-mode: normal;
  position: absolute;
  top: 17px;
  width: 1px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-61-qwoBFl {
  background-color: transparent;
  height: 104px;
  left: 0px;
  position: absolute;
  top: 65px;
  width: 791px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-8-IatsWK {
  background-color: var(--brand-colorbrand-tertiary);
  border-radius: 4px;
  height: 104px;
  left: 20px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 771px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-3-NXgqk7 {
  background-color: transparent;
  height: 22px;
  left: 12px;
  position: absolute;
  top: 12px;
  width: 747px;
}

.pop-up-candidature-elements-envoyes-maquette .comptable-YFl1Ul {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .frame-4-YFl1Ul {
  background-color: var(--navy-blue);
  border-radius: 4px;
  height: 22px;
  left: 686px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 61px;
}

.pop-up-candidature-elements-envoyes-maquette .envoye-XxlVHS {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .frame-3-m1ldfZ {
  background-color: transparent;
  height: 17px;
  left: 12px;
  position: absolute;
  top: 42px;
  width: 747px;
}

.pop-up-candidature-elements-envoyes-maquette .nom-de-lentreprise-QhKo0H {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 747px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-58-NXgqk7 {
  background-color: transparent;
  height: 25px;
  left: 12px;
  position: absolute;
  top: 67px;
  width: 747px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-3-hDbspf {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 269px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-3-ERZ8FL {
  background-color: var(--user-interface-colorswhite);
  border-radius: 4px;
  height: 22px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 82px;
}

.pop-up-candidature-elements-envoyes-maquette .cdd-6-mois-zgNgf7 {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .frame-3-rhg2oz {
  background-color: var(--user-interface-colorswhite);
  border-radius: 4px;
  height: 22px;
  left: 94px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 82px;
}

.pop-up-candidature-elements-envoyes-maquette .nantes-44-tx4zgT {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .frame-3-nmn2id {
  background-color: var(--user-interface-colorswhite);
  border-radius: 4px;
  height: 22px;
  left: 187px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 82px;
}

.pop-up-candidature-elements-envoyes-maquette .il-y-a-2-jours-aRTcUu {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .frame-3-KymmZZ {
  background-color: var(--sun);
  border-radius: 20px;
  height: 25px;
  left: 622px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 125px;
}

.pop-up-candidature-elements-envoyes-maquette .voir-le-dtail-uL1ow0 {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .frame-62-FV6x5M {
  background-color: transparent;
  height: 1px;
  left: 73px;
  mix-blend-mode: normal;
  position: absolute;
  top: 786px;
  width: 1px;
}

.pop-up-candidature-elements-envoyes-maquette .group-65-VGhnoG {
  background-color: transparent;
  height: 218px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 153px;
}

.pop-up-candidature-elements-envoyes-maquette .group-4-CWTeQQ {
  background-color: transparent;
  height: 163px;
  left: 0px;
  position: absolute;
  top: 56px;
  width: 153px;
}

.pop-up-candidature-elements-envoyes-maquette .rectangle-14-SG58S7 {
  background-color: var(--brand-colorbrand-primary);
  height: 163px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 51px;
}

.pop-up-candidature-elements-envoyes-maquette .rectangle-15-SG58S7 {
  background-color: var(--brand-colorbrand-primary);
  height: 134px;
  left: 51px;
  mix-blend-mode: normal;
  position: absolute;
  top: 28px;
  width: 51px;
}

.pop-up-candidature-elements-envoyes-maquette .rectangle-16-SG58S7 {
  background-color: var(--brand-colorbrand-primary);
  height: 106px;
  left: 102px;
  mix-blend-mode: normal;
  position: absolute;
  top: 57px;
  width: 51px;
}

.pop-up-candidature-elements-envoyes-maquette .ellipse-9-CWTeQQ {
  background-color: var(--brand-colorbrand-quinary);
  border-radius: 25.47px;
  height: 51px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 51px;
}

.pop-up-candidature-elements-envoyes-maquette .ellipse-32-VGhnoG {
  background-color: var(--mist-gray);
  border-radius: 35.5px;
  height: 71px;
  left: 1184px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1073px;
  width: 71px;
}

.pop-up-candidature-elements-envoyes-maquette .group-68-VGhnoG {
  background-color: transparent;
  height: 480px;
  left: 1px;
  position: absolute;
  top: 511px;
  width: 332px;
}

.pop-up-candidature-elements-envoyes-maquette .rectangle-38-Jdr9tT {
  background-color: var(--brand-colorbrand-tertiary);
  border-radius: 8px;
  height: 480px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 328px;
}

.pop-up-candidature-elements-envoyes-maquette .envie-de-dcouvrir-un-nouveau-secteur-Jdr9tT {
  background-color: transparent;
  height: auto;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 311px;
  width: 262px;
}

.pop-up-candidature-elements-envoyes-maquette .ton-parcours-na-pas-Jdr9tT {
  background-color: transparent;
  height: auto;
  left: 15px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 377px;
  width: 262px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-66-Jdr9tT {
  background-color: transparent;
  height: 25px;
  left: 15px;
  position: absolute;
  top: 428px;
  width: 131px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-4-T0rx2K {
  background-color: var(--sun);
  border-radius: 20px;
  height: 25px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 131px;
}

.pop-up-candidature-elements-envoyes-maquette .je-me-lance-0KNHjw {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .group-46-Jdr9tT {
  background-color: transparent;
  height: 1px;
  left: 164px;
  position: absolute;
  top: 165px;
  width: 1px;
}

.pop-up-candidature-elements-envoyes-maquette .rectangle-34-7mKfwG {
  background-color: var(--black-2);
  height: 738px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1366px;
}

.pop-up-candidature-elements-envoyes-maquette .group-70-7mKfwG {
  background-color: transparent;
  height: 629px;
  left: 228px;
  position: absolute;
  top: 55px;
  width: 909px;
}

.pop-up-candidature-elements-envoyes-maquette .rectangle-35-bxBl6x {
  background-color: var(--user-interface-colorswhite);
  height: 629px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 909px;
}

.pop-up-candidature-elements-envoyes-maquette .group-67-bxBl6x {
  background-color: transparent;
  height: 56px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 911px;
}

.pop-up-candidature-elements-envoyes-maquette .rectangle-36-v6I61a {
  background-color: var(--brand-colorbrand-primary);
  height: 56px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 909px;
}

.pop-up-candidature-elements-envoyes-maquette .close-v6I61a {
  background-color: transparent;
  height: 20px;
  left: 875px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 20px;
}

.pop-up-candidature-elements-envoyes-maquette .comptable-pour-nom-de-lentreprise-v6I61a {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 12px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .rectangle-37-bxBl6x {
  background-color: var(--mist-gray);
  border-radius: 10px;
  height: 489px;
  left: 895px;
  mix-blend-mode: normal;
  position: absolute;
  top: 69px;
  width: 7px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-77-bxBl6x {
  background-color: transparent;
  height: 552px;
  left: 70px;
  position: absolute;
  top: 77px;
  width: 770px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-75-Uot0m9 {
  background-color: transparent;
  cursor: pointer;
  height: 27px;
  left: 244px;
  position: absolute;
  top: 0px;
  width: 282px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-67-89j3yL {
  background-color: transparent;
  height: 27px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 109px;
}

.pop-up-candidature-elements-envoyes-maquette .ma-candidature-Lbwdxi {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .line-3-Lbwdxi {
  background-color: transparent;
  height: 2px;
  left: 0px;
  position: absolute;
  top: 26px;
  width: 109px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-68-89j3yL {
  background-color: transparent;
  cursor: pointer;
  height: 19px;
  left: 125px;
  position: absolute;
  top: 0px;
  width: 75px;
}

.pop-up-candidature-elements-envoyes-maquette .l-annonce-3wAz4s {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .frame-69-89j3yL {
  background-color: transparent;
  height: 19px;
  left: 216px;
  position: absolute;
  top: 0px;
  width: 66px;
}

.pop-up-candidature-elements-envoyes-maquette .l-agence-m4UYxb {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .frame-76-Uot0m9 {
  background-color: transparent;
  height: 503px;
  left: 0px;
  position: absolute;
  top: 49px;
  width: 770px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-73-MdM2tH {
  background-color: #e1e1e180;
  border-radius: 8px;
  height: 120px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 770px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-69-TouCZx {
  background-color: transparent;
  height: 22px;
  left: 20px;
  position: absolute;
  top: 20px;
  width: 420px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-67-90WxfB {
  background-color: transparent;
  height: 17px;
  left: 0px;
  position: absolute;
  top: 2px;
  width: 167px;
}

.pop-up-candidature-elements-envoyes-maquette .statut-de-ma-candidature-Vyf65g {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .frame-68-90WxfB {
  background-color: transparent;
  height: 22px;
  left: 181px;
  position: absolute;
  top: 0px;
  width: 239px;
}

.pop-up-candidature-elements-envoyes-maquette .frame-4-yNtnZc {
  background-color: var(--eucalyptus);
  border-radius: 4px;
  height: 22px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 35px;
}

.pop-up-candidature-elements-envoyes-maquette .lue-alL8bI {
  background-color: transparent;
  height: auto;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .votre-candidature-a-yNtnZc {
  background-color: transparent;
  height: auto;
  left: 47px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 5px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .frame-70-TouCZx {
  background-color: transparent;
  height: 17px;
  left: 20px;
  position: absolute;
  top: 54px;
  width: 249px;
}

.pop-up-candidature-elements-envoyes-maquette .envoy-le-XDa55G {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .x12032022-XDa55G {
  background-color: transparent;
  height: auto;
  left: 179px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .frame-71-TouCZx {
  background-color: transparent;
  height: 17px;
  left: 20px;
  position: absolute;
  top: 83px;
  width: 311px;
}

.pop-up-candidature-elements-envoyes-maquette .mon-cv-1XD7ob {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .tlcharger-le-fichier-1XD7ob {
  background-color: transparent;
  height: auto;
  left: 181px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 0px;
  width: auto;
}

.pop-up-candidature-elements-envoyes-maquette .frame-74-MdM2tH {
  background-color: transparent;
  height: 367px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 136px;
  width: 770px;
}
